/* This is common styles section  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.logo {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.btn {
    text-align: center;
    border: none;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    background-color: #477D1126;
    color: black;

}

input {
    border: none;
    border-radius: 8px;
    background: white;
    padding: 20px 45px;
    color: #E55473;
    font-size: 20px;
    font-weight: 500;
}

span {
    color: #E55473;
}

/* This is Banner Section  */

.banner-container {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
}

.banner-content {
    width: 50%;
    text-align: left;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

.banner-img {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: right;
}

.banner-img img {
    height: 90%;
}

/* This is Featured Flower section  */

.feat-flower-container {
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.feat-flower-container .title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.feat-flower-container p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feat-flowers {
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 25px;
}

.feat-flowers .flower {
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feat-img {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 300px 300px 0px 0px;
}

.feat-img img {
    height: 80%;
}

.feat-img-1 {
    background-color: #A7216226;
}

.feat-img-2 {
    background-color: #0597A026;
}

.feat-img-3 {
    background-color: #477D1126;
}

.feat-flowers a {
    color: black;
}

/* This is 24/7 service section  */

.services {
    margin: 50px 10%;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #2727270D;
}

/* This is Sales section  */

.sales-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
    background-color: #E554730D;
}

.sales-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sales-content .title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sales-content .detail {
    margin: 20px;
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.sales-pic {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-pic img {
    height: 100%;
}

/* This is Instagram Section  */

.insta-container {
    height: 90vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.insta-container legend {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.insta-container p {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.insta-pic {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insta-pic img {
    height: 100%;
}

/* This is Latest Deal section  */

.deals-container {
    height: 40vh;
    margin: 10px 10% 50px 10%;
    background-image: url("./assets/rectangle9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deals-container .title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.deals-container .detail {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0 20px 0;
}

.sub-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-section input {
    width: 50%;
}

/* This is Footer Section  */

footer {
    padding: 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background-color: black;
}

footer p {
    color: #ffffffe6;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

footer small {
    color: #ffffff66;
    font-size: 16px;
    font-weight: 400;
}